{% extends "base.html" %}
{% load static %}
{% block title %}发布消息{% endblock %}
<!--<script src="{% static 'ckeditor/static/ckeditor/ckeditor/ckeditor.js' %}" ></script>-->
{% block content %}
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{% url 'dailySystem:index' %}">首页</a></li>
                <li class="active">发布消息</li>
            </ol>
        </div>
    </div>

    <form action="." method="POST">
        {% csrf_token %}
        <!--{{form.as_p}}-->
        <div class="form-group">
            <label for="name">消息标题</label>
            <input name="title" type="text" class="form-control" placeholder="请输入标题">
        </div>
        <div class="form-group">
            <label for="name">消息内容</label>
            {{message.messageContent | safe}}
            <textarea name="content" class="form-control ckeditor" rows="8"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="提交">
    </form>
{% endblock %}