{% extends "base.html" %}
{% block title %}password reset {% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1> Forgotten your password? Reset ,Please</h1>
        <form action="." class="form-horizontal" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="" class="col-md-5 control-label text-right">Email</label>
                <div class="clo-md-6 text-left">
                    {{ form.email}}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Send email">
        </form>
    </div>
{% endblock %}