{% load static %}


<div class="container">
    <!--<ul class="nav nav-tabs">-->
        <!--<li><a href="#">首页</a></li>-->
        <!--<li><a href="{% url 'message_list' %}">消息列表</a></li>-->
        <!--<li><a href="{% url 'message_add' %}">发布新消息</a></li>-->
        <!--<li><a href="{% url 'login' %}">身份识别</a></li>-->
    <!--</ul>   -->
    <!---->
    <!---->
    <div>
    <img src="{% static 'img/bg.png' %}" class="img-responsive" alt="首页图片" >
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">企业事务管理系统</a>
        </div>
        <div>
            <ul class="nav nav-tabs  pull-right">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="{% url 'message_list' %}">消息列表</a></li>
                <li><a href="{% url 'message_add' %}">发布新消息</a></li>
                <li><a href="{% url 'login' %}">身份识别</a></li>
            </ul>
        </div>
        </div>
    </nav>
</div>