#img {
    background-image: url(../img/bg.png);
    height: 200px;
}
#menu {
  font-family:Arial;
  font-size:14px;
  float: right;
  /*margin-right: 100px;*/
 /*width: 1080px;
 margin:auto;*/
  }

#menu a, #menu a:visited {
  display:block;
  float:left;
  position:relative;
  background-color:#c00;
  color:#fff;
  text-decoration:none;
  padding:6px;
  margin:1px 0 0 1px;
  }

 #menu a span{
 height:0;
 width:0;
 border-bottom:solid 6px #c00;
 border-left:solid 6px #fff;
 position:absolute;
 top:0;
 left:0;
 overflow:hidden;
 }

#menu a:hover{
background-color: #F90;
color:#333
}

#menu a:hover span{
border-bottom:solid 6px #f90;
}

section {
    height: 600px;
    position:absolute;
    top:300px;
}
#left {
    border: solid 1px;
    height: 600px;
    width: 500px;
    float: left;
}

#right {
    border: solid 1px;
    height: 600px;
    width: 1300px;
    float: left;
    position: relative;
    left: 50px;
}